.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 250px;
  max-width: 1440px;
  margin: 20px 140px 160px 140px;
  background-color: #fc9d88;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  background-image: url(/bg-pattern-intro-web.b8740d39.svg);
  background-position: 100%;
  background-repeat: no-repeat;
}
.web h2 {
  font-size: 45px;
  margin-bottom: 10px;
}

.web p {
  width: 480px;
  font-size: 20px;
  margin: 10px;
}
.topsection {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 40px 144px;
}
.bottomsection {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 20px 144px 100px 144px;
}
.container {
  background-color: #fdf3f0;
  border-radius: 15px;
  transition: transform 0.3s ease;
  width: 326px;
}
.container:hover {
  transform: scale(1.1);
  background-color: #fc9d88;
  color: #ffffff;
}
.hidden {
  visibility: hidden;
}

.image {
  border-radius: 15px 15px 0 0;
  background-color: transparent;
}

.text {
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 180px;
}
.text h3 {
  text-align: center;
  padding-top: 15px;
  margin-top: 40px;
}
.text p {
  text-align: center;
  padding: 20px 35px;
}

.designcontainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  max-width: 1440px;
  margin: 0 140px 340px 140px;
  cursor: pointer;
  position: relative;
}
/* .appdesign::before,
  .graphicdesign::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 25px;
  } */

/* .appdesign:hover::before {
    background-color: rgba(252, 157, 136, 0.5);
  }
  .graphicdesign:hover::before {
    background-color: rgba(252, 157, 136, 0.5);
  }  */

.appdesign,
.graphicdesign {
  width: 507px;
  height: 300px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}

.appdesign:hover,
.graphicdesign:hover {
  transform: scale(1.1);
}
/* .appdesign:hover .appdesign,
  .graphicdesign:hover .graphicdesign {
    background-color: #fc9d88;
    color: blue;
  } */
.appdesign {
  background-image: url(/image-web-design.jpg);
}
.graphicdesign {
  background-image: url(/image-8.avif);
}
.designlink {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.designlink h3 {
  margin-top: 115px;
  font-size: 30px;
  letter-spacing: 5px;
}
.designlink p {
  margin-top: 25px;
  letter-spacing: 5px;
}

.span {
  color: #fc9d88;
  font-weight: bolder;
  font-size: 20px;
}
@media (max-width: 1288px) {
  .main {
    margin: 0 auto;
  }
  .topsection {
    width: 100%;
    flex-direction: column;
    margin: 40px auto;
  }
  .bottomsection {
    width: 100%;
    flex-direction: column;
    margin: 0px auto;
  }
  .image {
    border-radius: 15px 0 0 15px;
  }
  .text {
    width: 100%;
    height: 298px;
  }
  .text h3 {
    font-size: 30px;
  }
  .text p {
    padding: 20px;
    font-size: 20px;
  }
  .container {
    width: 80%;
    display: flex;
    margin: 40px auto;
  }
  .designcontainer {
    width: 80%;
    margin: 0 auto;
    margin-top: -300px;
    margin-bottom: 280px;
  }
  .appdesign,
  .graphicdesign {
    width: 80%;
    margin: 20px 60px;
  }
}
@media (max-width: 832px) {
  .text h3 {
    font-size: 25px;
  }
  .text p {
    padding: 20px;
    font-size: 18px;
  }
  .designcontainer {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: -340px;
    margin-bottom: 280px;
  }
  .appdesign,
  .graphicdesign {
    width: 80%;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .web h2 {
    font-size: 35px;
  }
  .web p {
    width: fit-content;
    font-size: 18px;
  }
}
@media (max-width: 688px) {
  .main {
    margin: 0 auto;
  }
  .topsection {
    width: 80%;
    display: block;
    margin: 40px auto;
  }
  .bottomsection {
    width: 80%;
    display: block;
    margin: 0px auto;
    margin-bottom: -550px;
  }
  .container {
    width: 325px;
    display: block;
    margin: 40px auto;
  }
  .image {
    border-radius: 15px 15px 0 0;
  }
  .text {
    width: 330px;
    height: 180px;
  }
}
@media (max-width: 400px) {
  .topsection,
  .bottomsection {
    width: 100%;
  }
}
